.idea
/upload
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
Thumbs.db
.DS_Store
._.DS_Store

/bitrix/backup/
/bitrix/components/bitrix/*
/bitrix/gadgets/
/bitrix/html_pages/
/bitrix/image_uploader/
/bitrix/images/
/bitrix/js/
/bitrix/css/
/bitrix/license_key.php
/bitrix/otp/
/bitrix/p3p.xml
/bitrix/sounds/
/bitrix/template/
/bitrix/themes/
/bitrix/tmp/
/bitrix/web.config
/bitrix/wizards/
/bitrix/catalog_export/
/bitrix/updates/
/bitrix/panel/

/bitrix/php_interface/dbconn.php
/bitrix/php_interface/constants.php

/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/

# установщики модулей
/bitrix/modules/**/install/
/webstat/
